In [20]:
import pandas as pd
import numpy as np

In [2]:
D = pd.read_excel('data/players.xlsx', index_col=0)

In [3]:
D.head()

,name,birthday,height,weight,rating,finishing,short_pass,long_pass,defense,gk
id,,,,,,,,,,
2625,"Patryk Rachwal,18",1981-01-27,175.26,154,60.142857,47.285714,56.500000,65.571429,62.071429,12.428571
2752,Diego Mainz,1982-12-29,187.96,174,69.380952,37.428571,54.809524,59.571429,71.428571,11.095238
2768,Jose Dorado,1982-07-10,180.34,154,69.285714,42.761905,64.714286,57.000000,74.714286,10.761905
2770,Ignacio Gonzalez,1982-05-14,180.34,161,71.133333,67.666667,72.533333,70.266667,44.933333,8.666667
2790,Alberto Rey,1974-02-15,175.26,163,70.200000,37.400000,68.000000,69.800000,63.400000,8.000000

In [52]:
class Player(object):
    
    def __init__(self, pid, data, pos):
        self.name = data.loc[pid]['name']
        self.short_pass = data.loc[pid].short_pass / 100
        self.x, self.y = pos
        self.pos = np.array([self.x, self.y])
        self.max_dist = np.linalg.norm(
            np.array([0,0]) - np.array([9,9]))
        
    def ball_pass(self, target):
        d = np.linalg.norm(self.pos - target.pos)
        f_d = 1 - (d / self.max_dist)
        p = (f_d + self.short_pass) / 2
        if np.random.uniform() < p:
            return True
        else:
            return False

In [53]:
p = Player(2790, D, pos=(3, 5))
x = Player(2770, D, pos=(5, 5))

In [54]:
p.ball_pass(x)

12.727922061357855 2.0
0.8428651597363228

False

In [31]:
trial = np.array([1 if p.ball_pass() else 0 for x in range(100)])

In [32]:
trial.sum() / len(trial)

0.19