In [1]:
import pandas as pd

In [2]:
c = {'nome': 'alfio', 'cognome': 'ferrara', 'eta': 25, 'residenza': 'milano'}
c['altezza'] = 180

nome alfio
cognome ferrara
eta 25
residenza milano
altezza 180

In [20]:
[('x' + str(i), e) for i, e in enumerate([1, 2, 3, 4, 5])]

[('x0', 1), ('x1', 2), ('x2', 3), ('x3', 4), ('x4', 5)]

In [22]:
s = pd.Series(c)
p = pd.Series(dict([('x' + str(i), e) for i, e in enumerate([1, 2, 3, 4, 5])]))
p

x0    1
x1    2
x2    3
x3    4
x4    5
dtype: int64

In [68]:
c = {'nome': 'alfio', 'cognome': 'ferrara', 'eta': 25, 'residenza': 'milano'}
b = {'nome': 'maria', 'cognome': 'rossi', 'eta': 20, 'residenza': 'bologna', 'laurea': 'lettere', 'voto': 108}
k = {'nome': 'gino', 'cognome': 'bianchi', 'eta': 30, 'residenza': 'milano', 'laurea': 'fisica', 'voto': 110}

df = pd.DataFrame([c, b, k], index=['A5462', 'A6422', 'A3442'])

In [69]:
df[['residenza', 'eta', 'voto']].groupby(by='residenza').median()

            eta   voto
residenza
bologna    20.0  108.0
milano     27.5  110.0

In [74]:
df.reset_index()

   index   nome  cognome  eta residenza   laurea   voto
0  A5462  alfio  ferrara   25    milano      NaN    NaN
1  A6422  maria    rossi   20   bologna  lettere  108.0
2  A3442   gino  bianchi   30    milano   fisica  110.0