In [70]:
import os
import pandas as pd
import numpy as np 
from datareader import read_csv

In [83]:
folder = "/Users/flint/Data/kaggle/books/book-recommender"
metadata_file = "collaborative_book_metadata.csv"
ratings_file = "collaborative_books_df.csv"

def to_float(x):
    return float(x)

def transform(x, f):
    return f(x)

metadata = pd.read_csv(os.path.join(folder, metadata_file), index_col=0, 
                    header=0, converters={'ratings_count': to_float})
ratings = pd.read_csv(os.path.join(folder, ratings_file), index_col=0, 
                    header=0, converters={'Actual Rating': to_float})

In [84]:
metadata.head(2)

   book_id  ... book_id_mapping
0  5899779  ...             808
1   872333  ...             217

[2 rows x 10 columns]

In [85]:
ratings.head(2)

                title  book_id  ...  Predicted Rating  Actual Rating
0  I Am the Messenger    19057  ...               4.5            5.0
1  I Am the Messenger    19057  ...               4.9            3.0

[2 rows x 6 columns]

## Data manipulation
- selezionare la colonna genere
- parsing: dalla `stringa` alla `lista`
- scorrimento delle liste e creazione del mapping: book_id <-> singolo genere

**Selezionare la colonna genere**

In [88]:
genre_strings = metadata['genre'].values

**Parsing**

In [102]:
genre_list = []
for s in genre_strings:
    clean_str = s[2:-2]
    str_list = clean_str.split("', '")
    genre_list.append(str_list)

**with list coprehension**

In [107]:
genre_list = [x[2:-2].split("', '") for x in genre_strings]

**Creazione del mapping book <-> genre**

In [114]:
mappings = []
books = metadata['book_id'].values
for i, genres in enumerate(genre_list):
    book = books[i]
    for genre in genres:
        mappings.append((book, genre))

In [119]:
book_genres = pd.DataFrame(mappings, columns=['book', 'genre'])

In [123]:
book_genres

         book                                   genre
0     5899779                     fantasy, paranormal
1     5899779                                 romance
2     5899779                                 fiction
3     5899779  history, historical fiction, biography
4     5899779                             young-adult
..        ...                                     ...
372  29069989                     fantasy, paranormal
373  29069989                                 fiction
374  29069989                             young-adult
375  29069989                                children
376  29069989                mystery, thriller, crime

[377 rows x 2 columns]

In [125]:
meta = metadata[[x for x in metadata.columns if x not in ['genre']]]

     book_id  ... book_id_mapping
0    5899779  ...             808
1     872333  ...             217
2   15507958  ...             385
3      66559  ...             192
4    7235533  ...             873
..       ...  ...             ...
91  10600242  ...             356
92      9516  ...             708
93    307791  ...             175
94     37442  ...             374
95  29069989  ...             508

[96 rows x 9 columns]

In [127]:
ratings

                     title  book_id  ...  Predicted Rating  Actual Rating
0       I Am the Messenger    19057  ...               4.5            5.0
1       I Am the Messenger    19057  ...               4.9            3.0
2       I Am the Messenger    19057  ...               3.9            3.0
3       I Am the Messenger    19057  ...               4.7            4.0
4       I Am the Messenger    19057  ...               4.3            5.0
...                    ...      ...  ...               ...            ...
196291            Coraline    17061  ...               4.1            4.0
196292            Coraline    17061  ...               3.5            5.0
196293            Coraline    17061  ...               3.6            3.0
196294            Coraline    17061  ...               3.7            5.0
196295            Coraline    17061  ...               3.8            4.0

[196296 rows x 6 columns]

In [131]:
book_genres[book_genres['book'] == 19057]

     book                     genre
76  19057               young-adult
77  19057                   fiction
78  19057  mystery, thriller, crime
79  19057                   romance
80  19057       fantasy, paranormal

In [135]:
df = pd.DataFrame([{'nome': 'alfio', 'eta': 25}, {'nome': 'maria', 'eta': 35}, {'nome': 'mario', 'eta': 20}])

In [138]:
df[df['eta'] < 30]

    nome  eta
0  alfio   25
2  mario   20

In [137]:
df['eta'] < 30

0     True
1    False
2     True
Name: eta, dtype: bool