# Blackjack
- mazzo carte
    - mappare valore della carta su valore numerico e viversa
- mescolare e estrarre
- mostrare carte all'utente
- interazione con l'utente
- gestire l'uscita dal gioco
- gestire il banco
- decidere il vincitore

## Deck

- carta $\rightarrow$ `tuple`
    - simbolo
    - seme
- mazzo $\rightarrow$ `list`
- valore $\rightarrow$ `dict`
    - corrispondenza fra simbolo e valore

In [ ]:
import blackjack.utils as ut
import blackjack.game as gm
from blackjack.deck import Deck, BJCard

In [ ]:
d1 = Deck(num=2)

In [ ]:
hand = d1.draw(num=1)
hand[0].value

## Blackjack design
- Table
    - Deck
    - list of players
    - dealer
    - ask players actions
    - pay revenue
- Player
 - hand
 - status
 - compute value
- Dealer
 - act
     - hit
     - stay
- HumanPlayer (one or more)
    - capital
    - bet
    - act
        - hit
        - stay
- Deck
    - shuffle
    - draw
    - BJCard
     - symbol, seed
     - value

In [12]:
import blackjack.deck as dk
import blackjack.game as gm

In [13]:
deck = dk.Deck(num=1)
deck.shuffle()

In [17]:
from collections import defaultdict

In [28]:
stats = defaultdict(lambda: defaultdict(lambda: 0))

for i in range(1000000):
    dealer = gm.Dealer()
    dealer.start(deck)
    start_value = dealer.hand_value
    go_on = True
    while go_on:
        go_on = dealer.act(deck)
    stop_value = dealer.hand_value
    if stop_value > 21:
        stop_value = 22
    stats[start_value][stop_value] += 1

In [29]:
import pandas as pd

In [30]:
S = pd.DataFrame(stats)
S.fillna(0, inplace=True)
S / S.sum(axis=0)

,14,6,22,20,17,9,11,15,13,18,16,12,21,19,8,7,5,10,4
22,0.594200,0.480014,1.0,0.0,0.0,0.249843,0.272046,0.615168,0.562593,0.0,0.683043,0.532132,0.0,0.0,0.269928,0.295147,0.484162,0.225577,0.446277
21,0.085626,0.099366,0.0,0.0,0.0,0.056411,0.337534,0.077555,0.089527,0.0,0.075859,0.094324,1.0,0.0,0.066028,0.069816,0.101852,0.109624,0.100065
19,0.086221,0.099189,0.0,0.0,0.0,0.350538,0.097954,0.077780,0.089828,0.0,0.080007,0.096219,0.0,1.0,0.124187,0.074210,0.109649,0.111661,0.115476
20,0.083124,0.091964,0.0,1.0,0.0,0.119144,0.099883,0.068879,0.088451,0.0,0.080336,0.092865,0.0,0.0,0.063804,0.070340,0.108025,0.349801,0.119384
17,0.077378,0.134719,0.0,0.0,1.0,0.107290,0.093029,0.081030,0.082290,0.0,0.000000,0.089266,0.0,0.0,0.117072,0.361013,0.090318,0.100068,0.107662
18,0.073450,0.094747,0.0,0.0,0.0,0.116773,0.099555,0.079588,0.087312,1.0,0.080756,0.095194,0.0,0.0,0.358980,0.129474,0.105994,0.103269,0.111135